# Node
node_modules/
app/node_modules/
npm-debug.log

# Editor
.vscode/
.idea/

# Local Secrets (if any)
.env

# Google Cloud Service Accounts
*.json
*.p12
key.json
service-account.json
gcp-credentials.json

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
*.tfplan
crash.log
override.tf
override.tf.json

# Packer
packer_cache/
*.box

# Python
__pycache__/
*.pyc
venv/
env/
.env

# Scripts
*.log
.env.local

# OS
.DS_Store