name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - 'terraform/**'
      - '2-host-setup/**'
      - 'cloudbuild.yaml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - id: 'auth'
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v1'
    - name: 'Configure Docker to use Artifact Registry'
      run: gcloud auth configure-docker us-central1-docker.pkg.dev
    - name: Build and push
      run: |
        TAG_SHA="us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/gke-apps/hello-app:${GITHUB_SHA::7}"
        TAG_LATEST="us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/gke-apps/hello-app:latest"
        docker build -t $TAG_SHA -t $TAG_LATEST ./app
        docker push $TAG_SHA
        docker push $TAG_LATEST
